# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
MANIFEST

# PyInstaller
*.spec
*.dll

# Logs and databases
*.log
db.sqlite3
db.sqlite3-journal

# Virtual environments
.env
.venv
env/
venv/

# JetBrains/PyCharm
.idea/

# Jupyter Notebooks
.ipynb_checkpoints

# Python tools cache
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/

# Static files and temporary files
staticfiles/
*.tar.gz
*.zip

# Exclude specific libraries/tools
instantclient_*.zip
setup_environment_*.tar.gz

# Ignore local settings
local_settings.py

# Others
.DS_Store
Thumbs.db
